label{
	font: verdana;
	color: #000000;
}
h1 {
	font-size: 20px;
}
table#tabelaspec{
	border:1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabelaspec td{
	border: 1px solid #606060;
	padding: 10px;
}
table#tabelaspec td.ce{
	vertical-align: top;
	font-weight: bold; 
}
table#tabelaspec td.cd{
	
}